<div class="confirm">
  <div class="row">
    <h2>注文情報確認</h2>
  </div>

  <%= form_with(model: @order, local: true) do |f| %>

  <div class="row">
    <div class="col-lg-5"><h4>商品名</h4></div>
    <div class="col-lg-2"><h4>単価（税込）</h4></div>
    <div class="col-lg-2"><h4>数量</h4></div>
    <div class="col-lg-2"><h4>小計</h4></div>
  </div>

  <!--  -->
  <!-- 合計金額の変数定義 -->
  <% sum_all = 0 %>
  <% @cart_products.each do |cp| %>
  <div class="row">
    <div class="col-lg-3">
      <%= link_to product_path(cp.product) do %>
        <%= attachment_image_tag(cp.product, :product_image, size: "150x100", fallback: "no_image.jpg") %>
      <% end %>
    </div>
    <div class="col-lg-2">
      <%= link_to product_path(cp.product) do %>
        <%= cp.product.name %>
      <% end %>
    </div>
    <div class="col-lg-2">
      <%= price_include_tax(cp.product.price) %>
    </div>
    <div class="col-lg-2">
      <%= cp.count %>
    </div>
    <div class="col-lg-2">
      <%= sum_poduct = price_include_tax(cp.product.price).to_i * cp.count %>円
      <% sum_all += sum_poduct %>
    </div>
  </div>
  <% end %>
</div>
