<div id="new" class="container">

  <h2>注文情報入力</h2>


  <%= form_with(model: @order, local: true, method: :get, url: { action: 'confirm'}) do |f| %>

  <!-- 支払方法 -->
    <h4><%= f.label :支払方法 %></h4>
    <div class="payment_method">
      <label><%= f.radio_button :payment_method, 1, {checked: true} %> クレジットカード</label>　<br />
      <label><%= f.radio_button :payment_method, 2, {} %> 銀行振込</label>
    </div>

  <!-- お届け先 -->
  <div>
    <h4><%= f.label :お届け先 %></h4>

    <!-- 自身の住所 -->
    <p class="select-post">
      <label><%= f.radio_button :add, 1, checked: "checked" %> ご自身の住所</label> <br />
      <%= @client.postal_code %>
      <%= @client.address %>
      <%= @client.last_name + @client.first_name %>
    </p>

    <!-- 登録済住所 -->
    <p class="select-post">
      <label><%= f.radio_button :add, 2 %> 登録住所から選択</label> <br />
      <%= f.collection_select :address, @client.shipping_addresses, :id, :address %>
    </p>

    <!-- 新しい住所 -->
    <div class="select-post">
      <label><%= f.radio_button :add, 3 %> 新しいお届け先</label> <br />
      <%= f.fields_for :new_add do |na| %>
      <table>
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td><%= na.text_field :postal_code, class: 'form_control' %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= na.text_field :address, class: 'form_control' %></td>
        </tr>
        <tr>
          <th>宛名</th>
          <td><%= na.text_field :destination, class: 'form_control' %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  <!-- お届け先ここまで -->

  <div class="next-btn">
    <%= f.submit "確認画面へ進む", class: "btn btn-danger" %>
  </div>

  <% end %>
</div>
