<div class="container">
  <div class="row">

    <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3">
      <%= render 'client/products/search_genre', genres: @genres %>
    </div>

    <div class="col-xs-9 col-md-9 col-lg-9 col-xl-9">
      <div class="products-index">

        <div class="product_index">
          <% if @genre_name.nil? %>
            <h2>商品一覧</h2><p class="index">(全 <%= @products.count %> 件)</p>
          <% else %>
            <h2><%= @genre_name %>一覧</h2><p class="index">(全 <%= @products.count %> 件)</p>
          <% end %>
        </div>

        <div class="product-box container">
          <div class="row">
          <% @products.each do |product| %>
            <%= link_to client_product_path(product.id),class: "product col-xs-3 col-md-3 col-lg-3 col-xl-3" do %>
                <div class="product-image">
                  <%= attachment_image_tag product, :product_image, size: "160x120", format: "jpeg" %>
                </div>
                <div class="product-name">
                  <%= product.name %>
                </div>
                <div class="product-price">
                  <p>¥ <%= product.price %></p>
                </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
