<div class="container">
  <div class="row">

    <div class="col-xs-3 col-md-3 col-lg-3">
      <%= render 'client/products/search_genre', genres: @genres %>
    </div>

    <div class="col-xs-9 col-md-9 col-lg-9">
      <div class="products-index">

      <% if @genre_name.nil? %>
        <h2>商品一覧(全 <%= @products.count %> 件)</h2>
      <% else %>
        <h2><%= @genre_name %>一覧(全 <%= @products.count %> 件)</h2>
      <% end %>

        <div class="product-box">
          <% @products.each do |product| %>
            <%= link_to client_product_path(product.id) do %>
              <div class="product">
                <div class="product-image">
                  <%= attachment_image_tag product, :product_image, size: "300x200", format: "jpeg" %>
                </div>
                <div class="product-name">
                  <%= product.name %>
                </div>
                <div class="product-price">
                  <p>¥ <%= product.price %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
