<div class="container">
  <div class="row">
    <div class="col-xs-3 col-md-3 col-lg-3">
      <%= render 'client/products/search_genre', genres: @genres %>
    </div>

    <div class="col-xs-9 col-md-9 col-lg-9">
      <div class="product-show">
        <div class="product-image">
          <%= attachment_image_tag @product, :product_image, size: '500x300', format: "jpeg" %>
        </div>
        <div class="product-box">
          <div class="product-name">
            <h3><%= @product.name %></h3>
          </div>
          <div class="product-introduction">
            <p><%= @product.introduction %></p>
          </div>
          <div class="product-price">
            <span>
              <p class="price">¥ <%= @tax_included_price %></p>
              <p>(税込み)</p>
            </span>
          </div>
        </div>
        <div class="select-count">
          <%= form_with model: @cart_product, url: client_cart_products_path, local: true do |f| %>
          <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.select :count, [['1', 1], ['2', 2], ['3', 3],['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9]] %>
            <%= f.submit "カートに入れる" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
