<div id="admin-order-show" class="container">
  <div class="row">
    <h3>注文履歴詳細</h3>
  </div>

  <div class="row">
    <table class="table">
      <tbody>
        <tr>
            <td>購入者</td>
            <td><%= link_to @client.last_name + @client.first_name ,admin_client_path(@client) %></td>
        </tr>
        <tr>
            <td>配送先</td>
            <td>
              <%= "〒　"+"#{@order.postal_code}　" +  @order.address %> <br>
              <%= "　#{@order.name}" %>
            </td>
        </tr>
        <tr>
            <td>支払方法</td>
            <td>
                <% if @order.payment_method == 1%>
                    クレジットカード
                <% else %>
                    銀行振込
                <% end %>
            </td>
        </tr>

        <tr>
            <td>注文ステータス</td>
            <td>
                <%= form_with model: @order, url: admin_order_path(@order),  local: true do |f| %>
                    <%= f.select :status , [["入金待ち",1],["入金確認",2],["制作中",3],["発送準備中",4],["発送完了",5]] %>
                    <%= f.submit "更新", disable_with: 'Submiting...', class: "btn btn-sm btn-success" %>
                <% end %>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="status container">
  <div class="row">

    <div class="col-lg-8 col-md-8 col-xs-8">
    <table class="table table-hover table-inverse">
        <thead class="thead-light">
            <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
                <th>制作ステータス</th>
            </tr>
        </thead>

        <tbody>
            <% @order_products.each do |order_product| %>
            <% @product = Product.find(order_product.product_id) %>
            <tr>
                <td><%= @product.name %></td>
                <td><%= order_product.price %></td>
                <td><%= order_product.count %></td>
                <td><%= order_product.price * order_product.count%></td>
                <td>
                    <%= form_with model: order_product, url: admin_order_order_product_path(order_product.order_id, order_product),  local: true do |f| %>
                        <%= f.select :making_status , [["着手不可",1],["制作待ち",2],["制作中",3],["制作完了",4]] %>
                        <%= f.submit "更新", disable_with: 'Submiting...', class: "btn btn-sm btn-success" %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>

    <div class="d-flex align-items-end product-payment col-lg-4 co-md-4 col-sx-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品合計</td>
            <td><%= @order.total_bill - @order.postage %>円</td>
          </tr>
          <tr>
            <td>送料</td>
            <td><%= @order.postage %>円</td>
          </tr>
          <tr>
            <td>請求額合計</td>
            <td><strong><%= @order.total_bill %>円</strong></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
