<h3>ジャンル一覧・追加</h3>
<%= form_with model: @genre, url: admin_genres_path,  local: true do |f| %>

<%= f.label :name, "ジャンル" %>
<%= f.text_field :name %>

<label ><%= f.radio_button :is_active, 1 , checked: true %>有効</label>
<label ><%= f.radio_button :is_active, 0 %>無効</label>


<%= f.submit "追加", disable_with: 'Submiting...' %>
<% end %>

<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th>ジャンル</th>
            <th>状態</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @genres.each do |genre| %>
        <tr>
            <td><%= genre.name %></td>
            <td>
                <% if genre.is_active == 1 %>
                    有効
                <% else %>
                    無効    
                <% end %>
            </td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
        </tr>
        <% end %>
    </tbody>
</table>