<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税)</th>
						<th>数量</th>
						<th></th>
						<th>小計</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<% @total_bill = 0 %>
						<% cart_products.each do |cart_product| %>

						<td><%= cart_product.product.name %></td>
						<td><%= price_include_tax(cart_product.product.price) %>円</td>
						<td><%= cart_product.count %></td>

                        <td>
						<%= form_with model: cart_product, url: client_cart_product_path(cart_product) do |f| %>
						<!-- # <% sub_total = cart_product.count.to_i %> -->
						<!-- # <td><%= sub_total %></td> -->

						<%= f.select :count,(1..9) %>
							<%= f.submit "変更する"%>
							<% end %>
						</td>
						<% sub_price = price_include_tax(cart_product.product.price).to_i * cart_product.count.to_i %>
						<td><%= sub_price %>円</td>
						<td><%= link_to "削除する", client_cart_product_path(cart_product.id), method: :delete, class: "btn btn-primary", remote: true %></td>
						<td></td>
					</tr>

					<% @total_bill += sub_price %>

					<% end %>
				</tbody>
			</table>
			<p>合計金額: <%= @total_bill %>円<br></p>