<div class="container">

			<h3>ショッピングカート</h3>
			<%= flash[:notice] %>
			<%= flash[:danger] %>
			<%= flash[:success] %>
			<%= flash[:info] %>
			<div class="cart-btn">
				<%= link_to 'カートを空にする', client_cart_products_path, method: :delete, class: 'btn btn-danger', remote: true %>
			</div>

			<div class="cart_render">
				<%= render "client/cart_products/cart_render", cart_products: @cart_products %>
			</div>

			<div class="link-box">
			<%= link_to "買い物を続ける",root_path(genre_sort: 0), class: "btn btn-primary" %>
			<%= link_to "情報入力に進む", new_client_order_path, class: "btn btn-primary" %>
			</div>
</div>