<div class="container" id="admin-product-show">

  <div class="row">
    <h3>商品詳細</h3>
  </div>

  <div class="row">

    <div class="col-lg-5 col-md-5 col-xs-5">
      <p>商品画像</p>
      <%= attachment_image_tag(@product, :product_image,  size: "300x220", format: 'jpeg', fallback: "no-image-mini.jpg") %>
    </div>

    <div class="col-lg-7 col-md-7 col-xs-7">
      <table class="table">
        <tbody>
          <tr>
            <th>商品名</th>
            <th><%= @product.name %></th>
          </tr>
          <tr>
            <th>商品説明</th>
            <th><%= @product.introduction %></th>
          </tr>
          <tr>
            <th>ジャンル</th>
            <th><%= @genre.name %></th>
          </tr>
          <tr>
            <th>税込価格(税抜価格)</th>
            <th><%= price_include_tax(@product.price) %>(<%= @product.price %>) 円</th>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <th><%= @product_status %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row d-flex justify-content-end">
    <div class="action">
    <%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-primary" %>
    </div>
  </div>

</div>
