<!DOCTYPE html>
<html>
<head>
  <title>NaganoCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="wrapper">

    <header>
      <div id="header" class="container">
        <div class="row">
          <div class="header-image col-lg-3 col-md-3 col-xs-3">
            <% if admin_signed_in? %>
            <%= link_to admin_admins_top_path do %>
            <%= image_tag 'cake-logo.jpg', size: "170x80" %>
            <% end %>
            <% else %>
            <%= link_to client_clients_top_path do %>
            <%= image_tag 'cake-logo.jpg', size: "170x80" %>
            <% end %>
            <% end %>
          </div>
          <% if admin_signed_in? %>
          <div class="admin_link col-lg-9 col-md-9 col-xs-9">
            <div class="admin_login d-flex justify-content-end">
              <%= link_to "商品一覧",     admin_products_path(genre_sort: 0), class: "btn btn-sm btn-outline-primary" %>
              <%= link_to "会員一覧",     admin_clients_path,  class: "btn btn-sm btn-outline-primary" %>
              <%= link_to "注文履歴一覧",  admin_orders_path,   class: "btn btn-sm btn-outline-primary" %>
              <%= link_to "ジャンル一覧",  admin_genres_path,   class: "btn btn-sm btn-outline-primary" %>
              <%= link_to "ログアウト",    destroy_admin_session_path, class: "btn btn-sm btn-outline-primary", method: :delete %>
            </div>
            <div class="admin-search  d-flex justify-content-end">
              <%= form_tag(admin_orders_path, method: :get) do %>
              <%= select_tag(:option, options_for_select([["全注文", "0"],["入金待ち", "1"],["入金確認","2"],["制作中","3"],["発送準備中","4"],["発送済","5"]]))%>
              <%= text_field_tag :search %>
              <%= submit_tag '検索' %>
              <% end %>
            </div>
          </div>
          <% elsif client_signed_in? %>
          <div class="welcom-message col-lg-4 col-md-4 col-xs-4">
            <p>ようこそ　<%= current_client.last_name + current_client.first_name %>　さん！</p>
          </div>
          <div class="client_login col-lg-5 col-md-5 col-xs-5">

            <%= link_to client_client_path(current_client) do %>
            <i class="fas fa-user"></i>マイページ
            <% end %>

            <%= link_to client_products_path(genre_sort: 0) do %>
            <i class="fas fa-gift"></i>商品一覧
            <% end %>
            <%= link_to client_cart_products_path do %>
            <i class="fas fa-cart-plus"></i>カート
            <% end %>
            <%= link_to destroy_client_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>

          <% else %>
          <div class="col-lg-4 col-md-4 col-xs-4"></div>
          <div class="after_login col-lg-5 col-md-5 col-xs-5">
            <%= link_to client_clients_about_path do %>
            <i class="fas fa-store"></i>About
            <% end %>
           <%= link_to client_products_path(genre_sort: 0) do %>
            <i class="fas fa-gift"></i>商品一覧
            <% end %>
            <%= link_to new_client_registration_path do%>
            <i class="fas fa-user-plus"></i>新規登録
            <% end %>
            <%= link_to new_client_session_path do %>
            <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </div>
          <% end %>

        </div>
      </div>
    </header>

    <%= yield %>


    <footer>
      <div>
        © HighBall!! 2020
      </div>
    </footer>

  </div>
</body>
</html>
